# Ignore files related to API keys
.env

#ignore pycache
__pycache__/

#ignore pycache
.pyc

#for mac users ignore folder configuration files
.DS_Store

#ignores the database is used for testing
instance/database.db