body {
    font-family: 'Lato', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #0A2472;
    color: #fff; 
}

nav h1 {
    color: white;
}

nav img {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

nav button {
    text-decoration: none;
    color: #0A2472;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-left: 20px;
}

nav button:hover {
    background-color: #b2bddf;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    color: #0A2472;
}

p {
    line-height: 1.6;
}

ul, ol {
    padding-left: 20px;
}

ul li, ol li {
    padding: 5px 0;
}

a {
    color: #0A2472;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    background-color: #cccccc; /* Darker gray background for the section */
    padding: 20px;
    border-radius: 8px;
}

.team-member {
    background-color: #e6e6e6;
    text-align: center;
    border-radius: 8px;
    padding: 15px;
    flex: 1 1 calc(50% - 20px);
    box-sizing: border-box;
    margin-bottom: 20px;
}

.team-member.center {
    flex: 0 1 calc(50% - 20px); /* Ensures same width as other team members */
    box-sizing: border-box;
    margin: 0 auto; /* Centers the last member */
    margin-bottom: 20px;
}

.team-member h3 {
    margin-top: 0;
}
