body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0; 
}

.header {
    width: 80%; /* Match the width of the summary page header */
    margin: 30px auto 0 auto; /* Adds white space between the navbar and the header, centers horizontally */
    padding: 20px;
    text-align: center;
    background: #0A2472;
    color: #FFFFFF;
    font-size: 30px;
}

.header h2 {
    color: white; /* Explicitly set the text color to white */
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.input, .messages {
    width: 80%; /* Match the width of the header */
    margin: 20px auto; /* Center the boxes and add vertical spacing */
}

.input {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 16px;
    text-align: center;
    background: #0A2472;
    color: #FFFF;
    font-size: 30px;
}

.input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input textarea {
    width: 600px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #A6E1FA;
    background: white;
    resize: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input input[type=submit] {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background: #0E6BA8;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
}

.input input[type=submit]:hover {
    background: #00072D;
}

.messages {
    height: 50vh; 
    overflow-y: scroll; 
    padding: 16px;
    background-color: #f1f1f1;
    justify-content: top;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    top: 0;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 80%;
    margin-bottom: 10px; 
}

.temp {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    border: none;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    background: #0A2472; /* Blue background for the bot's messages */
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.message .bot {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: #0A2472; /* Blue background for the bot's messages */
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.message .bot:hover {
    background: #00072D;
}

.message .user {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: #0E6BA8;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.message .user:hover {
    background: #00072D;
}