body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0; 
}

.header {
    width: 80%; /* Match the width of the summary page header */
    margin: 30px auto 0 auto; /* Adds white space between the navbar and the header, centers horizontally */
    padding: 20px;
    text-align: center;
    background: #185e8d;
    color: #FFFFFF;
    font-size: 30px;
    border-radius: 12px;
}

.header h2 {
    color: white; /* Explicitly set the text color to white */
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.input, .messages {
    width: 80%; /* Match the width of the header */
    margin: 20px auto; /* Center the boxes and add vertical spacing */
}

.input {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 16px;
    text-align: center;
    background: #185e8d;
    color: #FFFF;
    font-size: 30px;
    border-radius: 8px;
}

.input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.input textarea {
    width: 600px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    border: 2px solid #a2895a;
    background: white;
    resize: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.input input[type=submit] {
    font-family: "Poppins", sans-serif;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    background: #caa56f;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    font-weight: 600;
}

.input input[type=submit]:hover {
    background: #fff;
    color: #caa56f;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.messages {
    height: 50vh; 
    overflow-y: scroll; 
    padding: 16px;
    background-color: #f1f1f1;
    justify-content: top;
    align-items: center;
    display: flex;
    flex-direction: column;
    top: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 50px;
    background: rgba(255, 255, 255, 0);
    border: none;
    width: 80%;
    margin-bottom: 10px; 
}

.message .bot {
    padding: 10px 15px;
    font-size: 17px;
    border: none;
    width: 80%;
    background: #21305a;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.message .bot:hover {
    background: #1d244c;
}

.message .user {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 80%;
    background:#185e8d; 
    color: white;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.message .user:hover {
    background: #00072D;
}