body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #21305a;
    color: #ffff;
}

 

.nav-title {
    margin-right: auto;
    font-size: 1.5em;
    color: black;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}

header button {
    text-decoration: none;
    color: #21305a;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header button:hover {
    background-color: #caa56f;
    color: #fff;
}

main {
    margin: 20px 50px;
    text-align: center; /* Center the text in the main section */
    display: grid;
}
main h1 {
    display: block;
    border-bottom: solid #caa56f;
    padding-bottom: 5px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    color: #185e8d;
}
main h4 {
    margin-top: 0;
    font-weight: 400px;
 }
h3 {
    border-bottom: solid #caa56f;
    padding-bottom: 5px;
    color: #21305a;
    width: max-content;
}
form {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #185e8d;
    text-align: left; /* Keep the text in the form elements left-aligned */
    border-radius: 12px;
}

form h2, form h3 {
    color: #ffff;
}

input[type=text] {
    font-family: "Poppins", sans-serif;
    width: calc(100% - 24px); /* Adjusted to accommodate left and right padding */
    padding-left: 12px; /* Add padding to the left */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

h1, h2, h3 {
    color: #0A2472;
}

#submit {
    background-color: #0A2472;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #084B7C;
}

.form-error {
    color: red;
    font-size: 0.9em;
}

div {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

div h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

.no-bullets li {
    list-style-type: none;
    padding-left: -20px;
}

.error {
    background-color: #f4f4f4;
    border: none;
    color: #ff9d00;
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

/* Tooltip container */
.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip-custom .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #caa56f;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-size: 0.8rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-custom .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when hovering */
.tooltip-custom:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}
