html, body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #21305a;
    color: #ffff; 
}

header h1 {
    flex: 1;
    align-items: center;
    text-align: center;
}

header li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
    font-family: "Poppins", sans-serif;
}

header img {
    width: 150px;
    height: auto;
}
header button {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #21305a;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
header button:hover {
    background-color: #caa56f;
    color: #fff;
    cursor: pointer;
}
