html, body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    height: auto;
    align-items: center;
    padding: 20px 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #0A2472;
    color: #ffff; 
}

nav h1 {
    justify-content: center;
    align-items: center;
}

nav img {
    width: 150px;
    height: auto;
}
nav button {
    text-decoration: none;
    color: #0A2472;
    background-color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
nav button:hover {
    background-color: #b2bddf;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    padding: 20px;
}

/* Adjust the divs to fill the remaining height */
.log-in, .sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

div h3 {
    margin-top: 0;
    font-size: 1.2em;
    color: #333;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    height: 300px;
    width: 500px;
    border: 1px solid #ccc;
    background-color: #0E6BA8; 
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

label {
    margin-bottom: 5px;
    font-size: x-large;
    color: black;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 24px); /* Adjusted to accommodate left and right padding */
    padding: 10px 0px 10px 10px;
    margin-bottom: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type="submit"] {
    color: #0A2472;
    background-color: #fff;
    padding: 10px 20px;
    width: calc(100% - 24px);
    border: none;
    cursor: pointer;
    transition: all 0.45s ease;
    margin-top: 0px;
}

input[type=submit]:hover {
    background-color: #0A2472;
    color: #fff;
}

.error {
    color: #f19457;
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

.info {
    color: white;
    font-size: medium;
    margin-top: 5px;
    text-align: center;
}

.password-info .username-info {
    margin-bottom: 5px;
}

/* Tooltip container */
.tooltip-custom {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 6px;
}

/* Tooltip text */
.tooltip-custom .tooltip-text {
    visibility: hidden;
    width: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position above the icon */
    left: 50%;
    margin-left: -100px; /* Center the tooltip */
    opacity: 0;
    transition: all 0.45s ease;
}

/* Tooltip arrow */
.tooltip-custom .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%; /* Bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when hovering */
.tooltip-custom:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

