/* NAVIGATION BAR */ 
/* Navbar background color */
#mainNavbar {
    background-color: #001C55; /* dark blue */
}

/* Navbar brand link color */
#mainNavbar .navbar-brand,
#mainNavbar .navbar-brand:hover,
#mainNavbar .navbar-brand:focus {
    color: #A6E1FA; /* light blue */
}

/* Navbar toggle button color */
#mainNavbar .navbar-toggler {
    border-color: #A6E1FA; /* light blue */
}

/* Navbar toggle icon color */
#mainNavbar .navbar-toggler-icon {
    background-color: #A6E1FA; /* light blue */
}

/* Navbar links color */
#mainNavbar .navbar-nav .nav-link {
    color: #A6E1FA; /* light blue */
}

/* Navbar links hover color */
#mainNavbar .navbar-nav .nav-link:hover,
#mainNavbar .navbar-nav .nav-link:focus {
    color: #0E6BA8; /* medium blue */
}

/* Active navbar link color */
#mainNavbar .navbar-nav .nav-item.active .nav-link,
#mainNavbar .navbar-nav .nav-item.active .nav-link:hover,
#mainNavbar .navbar-nav .nav-item.active .nav-link:focus {
    color: #0A2472; /* dark blue */
}

main {
    margin-left: 50px;
}
