body, div, table {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0; 
}

.header {
    width: 80%; /* Match the width of the summary page header */
    margin: 30px auto 0 auto; /* Adds white space between the navbar and the header, centers horizontally */
    padding: 20px;
    text-align: center;
    background: #0A2472;
    color: #FFFFFF;
    font-size: 30px;
}

.header h2 {
    color: white; /* Explicitly set the text color to white */
}

.container, .second-container {
    width: 70%;
    margin: 50px auto;
}

.summary-header, .second-summary-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.expenses-table, .second-expenses-table {
    width: 100%;
    border-collapse: collapse;
}

.expenses-table {
    font-size: 16px;
}

.second-expenses-table {
    font-size: 16px;
}

.expenses-table th, .expenses-table td, .second-expenses-table th, .second-expenses-table td {
    border: 2px solid #00072D;
    padding: 15px;
    background-color: #f2f2f2;
}

.expenses-table th, .second-expenses-table th, .second-expenses-table td {
    background-color: #f2f2f2;
}

.expenses-table th {
    text-align: center;
}

.expenses-table td {
    text-align: left;
}

.second-expenses-table th, .second-expenses-table td {
    text-align: center; 
}

.expenses-table tr:first-child th,
.expenses-table tr:nth-child(2) th,
.second-expenses-table tr:first-child th,
.second-expenses-table tr:nth-child(1) th {
    background-color: #A6E1FA;
}

/* Ensure the rightmost border of the table is visible */
.second-expenses-table th:last-child, .second-expenses-table td:last-child {
    border-right: 2px solid #00072D;
}

.advice-box {
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background: #f2f2f2;
    border: 2px solid #0A2472;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 24px;
}

.advice-box a {
    display: inline-block;
    padding: 10px 20px;
    background: #0A2472;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.advice-box a:hover {
    background: #00072D;
}