{% extends "layout.html" %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Advisor Chatbot</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>

<body>  
    <main>
        <h1>Budget Form</h1>
        <h4>please fill out or update your budget form</h4>
        <form method="POST" action="{{ url_for('form') }}">
            {{ form.hidden_tag() }}
            <h2>Income</h2>
            <div>
                {{ form.income.label }}<br>
                {{ form.income(size=32) }}<br>
                {% for error in form.income.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h2>Fixed Expenses</h2>
            <h3>Housing and Utilities</h3>
            <div>
                {{ form.housing_utilities.label }}<br>
                {{ form.housing_utilities(size=32) }}<br>
                {% for error in form.housing_utilities.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Communication</h3>
            <div>
                {{ form.communication.label }}<br>
                {{ form.communication(size=32) }}<br>
                {% for error in form.communication.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Transportation</h3>
            <div>
                {{ form.transportation.label }}<br>
                {{ form.transportation(size=32) }}<br>
                {% for error in form.transportation.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Education</h3>
            <div>
                {{ form.education.label }}<br>
                {{ form.education(size=32) }}<br>
                {% for error in form.education.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Savings</h3>
            <div>
                {{ form.savings.label }}<br>
                {{ form.savings(size=32) }}<br>
                {% for error in form.savings.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h2>Variable Expenses</h2>
            <h3>Food</h3>
            <div>
                {{ form.food.label }}<br>
                {{ form.food(size=32) }}<br>
                {% for error in form.food.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Entertainment</h3>
            <div>
                {{ form.entertainment.label }}<br>
                {{ form.entertainment(size=32) }}<br>
                {% for error in form.entertainment.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Health and Personal Care</h3>
            <div>
                {{ form.health_personal_care.label }}<br>
                {{ form.health_personal_care(size=32) }}<br>
                {% for error in form.health_personal_care.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Clothing</h3>
            <div>
                {{ form.clothing_laundry.label }}<br>
                {{ form.clothing_laundry(size=32) }}<br>
                {% for error in form.clothing_laundry.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <h3>Debt Payments</h3>
            <div>
                {{ form.debt_payments.label }}<br>
                {{ form.debt_payments(size=32) }}<br>
                {% for error in form.debt_payments.errors %}
                    <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <input id="submit" type="submit" value="Submit">
        </form>
    </main>
</body>

{% endblock %}
