{% extends "layout.html" %}
{% block content %}
<head>
    <title>Expenses Summary</title>
    <meta charset="UTF-8">
    <meta name="description" content="BudgetBuddy">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='summary.css') }}">
</head>
<body>
    <div class="header">
        <h2>A Summary of your Expenses</h2>
    </div>
    <div class="container">
        <div class="summary-header"></div>
        <table class="expenses-table">
            <tr>
                <th class="category">Category</th>
                <th>Spent</th>
            </tr>
            <tr>
                <td>Housing and Utilities</td>
                <td>{{ expenses[0] }}</td>
            </tr>
            <tr>
                <td>Communication</td>
                <td>{{ expenses[1] }}</td>
            </tr>
            <tr>
                <td>Transportation</td>
                <td>{{ expenses[2] }}</td>
            </tr>
            <tr>
                <td>Education</td>
                <td>{{ expenses[3] }}</td>
            </tr>
            <tr>
                <td>Savings</td>
                <td>{{ expenses[4] }}</td>
            </tr>
            <tr>
                <td>Food</td>
                <td>{{ expenses[5] }}</td>
            </tr>
            <tr>
                <td>Entertainment</td>
                <td>{{ expenses[6] }}</td>
            </tr>
            <tr>
                <td>Health and Personal Care</td>
                <td>{{ expenses[7] }}</td>
            </tr>
            <tr>
                <td>Clothing</td>
                <td>{{ expenses[8] }}</td>
            </tr>
            <tr>
                <td>Debt Payments</td>
                <td>{{ expenses[9] }}</td>
            </tr>
        </table>
    </div>
    <div class="second-container">
        <div class="second-summary-header">
            <table class="second-expenses-table">
                <tr>
                    <th>Category</th>
                    <th colspan="2">Actual Spendings</th>
                    <th colspan="2">Ideal Spendings</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Actual Amount</th>
                    <th>Actual Percentage</th>
                    <th>Ideal Amount</th>
                    <th>Ideal Percentage</th>
                </tr>
                <tr>
                    <td>Needs</td>
                    <td>{{ actual_amounts['Needs'] }}</td>
                    <td>{{ actual_percentages['Needs'] }}%</td>
                    <td>{{ ideal_amounts['Needs'] }}</td>
                    <td>{{ ideal_percentages['Needs'] }}%</td>
                </tr>
                <tr>
                    <td>Wants</td>
                    <td>{{ actual_amounts['Wants'] }}</td>
                    <td>{{ actual_percentages['Wants'] }}%</td>
                    <td>{{ ideal_amounts['Wants'] }}</td>
                    <td>{{ ideal_percentages['Wants'] }}%</td>
                </tr>
                <tr>
                    <td>Savings or Debt Repayment</td>
                    <td>{{ actual_amounts['Savings or Debt Repayment'] }}</td>
                    <td>{{ actual_percentages['Savings or Debt Repayment'] }}%</td>
                    <td>{{ ideal_amounts['Savings or Debt Repayment'] }}</td>
                    <td>{{ ideal_percentages['Savings or Debt Repayment'] }}%</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="advice-box">
        <p><i><b>To receive more personalized recommendations from your financial advisor, Bud:</b></i></p>
        <p><a href="{{ url_for('chatbot_site') }}">Click Here</a></p>
    </div>
</body>
{% endblock %}
